<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form role = "form">
                    <div class = "form-group">
                        <label for = "name_txt" >  WHAT WILL YOU TEACH?</label>
                        <input type = "text" class = "form-control " id = "name_txt" placeholder = "eg: clay play">
                    </div>
                    <div class = "form-group">
                        <label for = "learn_txt">WHAT WILL YOU LEARN?</label>
                        <input type = "text" class = "form-control input-lg" id = "learn_txt" placeholder = "Learning">
                    </div>
                    <div class = "form-group">
                        <label for = "category_txt" >  CATEGORY</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class = "form-group">
                        <label for = "workshop_txt" >  WORKSHOP/CLASS : </label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class = "form-group">
                        <label for = "city_txt" > CITY :</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class = "form-group">
                                    <div class="hero-unit">
                                        <label for = "example1" > Start Date:</label>
                                        <input  type="text" placeholder="dd-mm-yyyy"  id="example1">
                                    </div>

                                </div></div>
                            <div class="col-md-6">
                                <div class = "form-group">
                                    <div class="hero-unit">
                                        <label for = "example2" > End Date:</label>
                                        <input  type="text" placeholder="dd-mm-yyyy"  id="example2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class = "form-group">
                                    <label for = "lastname">Price</label>
                                    <input type = "text" class = "form-control" id = "Pricetxt" placeholder = "price">
                                </div>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <a href="pulpitrock.jpg" class="thumbnail">
                                    <img src="http://www.imagesbazaar.com/img170/220-SM457875.jpg" alt="Pulpit Rock" width="100%">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="moustiers-sainte-marie.jpg" class="thumbnail">
                                    <img src="http://ibcdn.imagesbazaar.com/img280/14028/220-SM511823.jpg" alt="Moustiers Sainte Marie" width="100%">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="cinqueterre.jpg" class="thumbnail">
                                    <img src="http://ibcdn.imagesbazaar.com/img280/14028/220-SM511823.jpg" alt="Cinque Terre" width="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h3> <span class="label label-default">Contact Details</span></h3>
                                <div class = "form-group">
                                    <label for = "namecn_txt" > Name</label>
                                    <input type = "text" class = "form-control " id = "namecn_txt"" placeholder = "eg: Enter Name">
                                </div>
                                <div class = "form-group">
                                    <label for = "email_txt" > Email</label>
                                    <input type = "text" class = "form-control " id = "email_txt" placeholder = "Enter Email">
                                </div>
                                <div class = "form-group">
                                    <label for = "phone_txt" > Phone Number</label>
                                    <input type = "" class = "form-control " id = "phone_txt" placeholder = "eg: clay play">
                                </div>
                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-5">
                                            <div class = "form-group">
                                                <button type="button" class="btn btn-success">Submit For Collaboration</button>
                                            </div>
                                        </div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-3">
                                            <div class = "form-group">
                                                <button type="button" class="btn btn-info">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </form></div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
			
		