 <footer>
            <div class="container">
                <div class="row" style="padding-top:30px;">

                    <br>
                    <div class="col-md-3">
                        <h4 class="footertext">Skills</h4>
                        <p class="footertext">
                            You can be skilled from all coaches here.
                        </p>
                        <br>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footertext">Artist</h4>
                        <p class="footertext">
                            All the images here are hand drawn by this man.
                        </p>
                        <br>

                    </div>
                    <div class="col-md-3">

                        <h4 class="footertext">Designer</h4>
                        <p class="footertext">
                            This pretty site and the copy it holds are all thanks to this guy.
                        </p>
                        <br>

                    </div>

                    <div class="col-md-3">

                        <h4 class="footertext">New Trends</h4>
                        <p class="footertext">
                            Trends in design market is in-loop
                        </p>
                        <br>

                    </div>
                </div>

                <div class="row" style="padding-top:20px;">

                    <hr width="100%" align="left" style="border-top: 1px solid rgba(255,255,255,.15);">



                    <div class="col-md-8" style="text-align: right;">
                        <span class=""><a href="#" class="textxMedium text-white">about</a></span>
                        <span class=""><a href="#" class="textxMedium text-white">team</a></span>
                        <span class=""><a href="#" class="textxMedium text-white">press</a></span>
                        <span class=""><a href="#" class="textxMedium text-white">support</a></span>
                    </div>


                    <div class="col-md-3">
                        <ul class="list-inline" style="float: right">
                            <li class="social-icons">
                                <img src="Image/Facebook.png" style="width:50%; position: relative;left: 30px;" alt="">
                            </li>
                            <li class="social-icons">
                                <a href="#"><img src="Image/insta.png" style="width:50%;" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>